@import '../../styles/colors.scss';
@import '../../styles/animations.scss';

.loginWrap {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $black;
  padding: 100px;

  .contentWrap {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 20px 20px 0 20px;
    background: $white;

    .imgWrap {
      display: flex;
      align-items: center;
      padding: 0 200px;
      background: linear-gradient(to left, $primaryDark, $white);
      border-radius: 20px 250px 0 20px;

      .img {
        content: url("../../styles/images/background-login.png");
        filter: drop-shadow(12px 12px 25px $primaryDark);
        animation: appearFromLeft 1s;
      }
    }

    .formWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 100px;
      animation: appearFromRight 1s;

      h1 {
        color: $primary;
        text-align: center;
        font-size: 30px;
        text-transform: capitalize;
      }

      .form {
        display: flex;
        flex-direction: column;
        width: 500px;
        padding: 40px;
        align-self: center;
        border-radius: 20px;
        box-shadow: 0 1px 3px -1px $black;
        background: $white;
        z-index: 1;
        margin-top: 2em;

        h2 {
          color: $primary;
          text-align: center;
          font-size: 24px;
          text-transform: uppercase;
        }

        button {
          margin: 32px 0;
        }
      }
    }
  }
}
