@import '../../styles/colors.scss';
@import '../../styles/animations.scss';

.loginWrap {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  .contentWrap {
    flex-grow: 1;
    position: relative;
    display: flex;

    .imgWrap {
      display: flex;
      align-items: center;
      padding: 0 200px;

      .img {
        content: url("../../styles/images/background-login.png");
        filter: drop-shadow(12px 12px 25px $primaryLight);
        animation: appearFromLeft 1s;
      }
    }

    .formWrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px;
      animation: appearFromRight 1s;
      background: linear-gradient(to left, $primaryDark, $primary);

      h1 {
        color: $white;
        text-align: center;
        font-size: 60px;
        text-transform: capitalize;
        max-width: 500px;
      }

      .form {
        display: flex;
        flex-direction: column;
        width: 500px;
        padding: 40px;
        align-self: center;
        border-radius: 8px;
        z-index: 1;
        margin-top: 5em;
        background: $white;

        h2 {
          color: $primary;
          text-align: center;
          font-size: 30px;
          text-transform: capitalize;
        }

        button {
          margin: 32px 0;
        }
      }
    }
  }
}
