$white:#f7f7fe;
$black: #100f10;
$background: #f2f2f2;

$primary: #003ffc;
$primaryDark: #001992;
$primaryLight: #6593fe;

$secondary: #37b9f1;
$secondaryDark: #114e8b;
$secondaryLight: #86e7fa;

$disabledBackground: #ccc;
$disabledColor: #666;
$valid: #78ce23;
$invalid: #ff5526;
